.home-container {
    background-image: url('../resources/test_background.jpg');
    background-size: 100% 100%;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .button-container {
    margin-top: 20px; 
    display: flex;
    gap: 10%; 
    flex-direction: row;
    justify-content: center;
  }

  .card-section {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center; 
    margin-top: 15%; 
  }

  .card-section .MuiCard-root {
    width: 40%; 
    cursor: pointer;
    perspective: 1000px; /* Profondeur de la perspective pour le retournement */
  }


  .card-section .MuiCard-root .MuiCardContent-root {
    transition: transform 1.5s; /* Durée de l'animation de retournement */
    transform-style: preserve-3d; /* Utilisé pour activer le rendu 3D de l'élément enfant */
  }
