.menu {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    align-items: center;
    color: black; 
    padding: 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); 
}

.menu .logo {
    min-width: 100px;
}

.menu a {
    color: black; 
    font-weight: bold; 
    text-decoration: none; 
}

.left-section {
    display: flex;
    align-items: center;
}

.center-section {
    flex-grow: 1; 
    text-align: center;
}